/* index.css */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

/* Optional custom styles */
html, body {
  background-color: #ffffff;
  color: #111827;
}